html {
    /* 100% width of parent (root) element */
    width: 100%;
    /* 100% height of viewport */
    height: 100vh;
    background: Ivory;
    /* our root font size */
    font-size: 1.0em;
    overflow-wrap: word;
}

h1 {
    font-family: "Source Code Pro", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

h1 a {
    color: inherit;
}

body {
    /* content goes to edge of viewport */
    margin: 0;
    /* and spans height of viewport */
    height: 100vh;
}

#current-page {
    font-weight: bolder;
}

div.container {
    /* mainbody height never squishes < 25rem */
    min-height: 25rem;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:
        [left] min-content auto [right];
    grid-template-rows:
        [top] max-content auto max-content [bottom];
    grid-template-areas:
        "head head"
        "panleft main"
        "foot foot";
}

div header {
    padding-top: 24pt;
    padding-left: 12pt;
    padding-right: 12pt;
    background: #0D0040;
    color: white;
    text-align: center;
    /* head corresponds to name in template */
    grid-area: head;
}

footer {
    padding: 12pt;
    background: #0D0040;
    color: white;
    text-align: center;
    grid-area: foot;
}

/* div elements with "panel" class */
div.panel {
    background: #B1F084;
    line-height: 170%;
    font-family: "Source Code Pro", "Bitstream Vera Sans Mono", "Courier New", monospace;

}

/* with both "panel" and "left" class */
div.panel.left {
    grid-area: panleft;
    padding-right: 12pt;
    font-size: 175%;
}

main {
    grid-area: main;
}

main figure {
    padding-top: 24pt;
    padding-left: 10%;
    padding-right: 12pt;
}

main figure img {
    max-width: 75%;
    width: 540px;
    border: 1px solid #000000;
}

figcaption {
    font-size: 200%;
}
