html {
    /* 100% width of parent (root) element */
    width: 100%;
    /* 100% height of viewport */
    height: 100vh;
    background: WhiteSmoke;
    /* our root font size */
    font-size: 1.0em;
    overflow-wrap: word;
}

h1 {
    font-family: "Source Code Pro", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

h1 a {
    color: inherit;
}

body {
    /* content goes to edge of viewport */
    margin: 0;
    /* and spans height of viewport */
    height: 100vh;
}

#current-page {
    font-weight: bolder;
}

div.container {
    /* mainbody height never squishes < 25rem */
    min-height: 25rem;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:
        [left] min-content auto [right];
    grid-template-rows:
        [top] max-content auto max-content [bottom];
    grid-template-areas:
        "head head"
        "panleft main"
        "foot foot";
}

div.header {
    padding-left: 12pt;
    padding-right: 12pt;
    background: #00294D;
    color: white;
    text-align: center;
    /* head corresponds to name in template */
    grid-area: head;
}

div.footer {
    padding: 12pt;
    background: #00294D;
    color: white;
    text-align: center;
    grid-area: foot;
}

/* div elements with "panel" class */
div.panel {
    background: PowderBlue;
    line-height: 130%;
}

/* with both "panel" and "left" class */
div.panel.left {
    grid-area: panleft;
    padding-right: 12pt;
}

/*
div.panel.right {
    grid-area: panright;
}
*/

main {
    /*    display: flex;*/
    grid-area: main;
    /* mainbody width is fixed */
    /*    width: 100rem;*/
    /* and always centered in grid area */
    justify-content: space-around;
    justify-self: center;
}

img.screenshot {
    max-width: 251px;
    padding: 12pt;
}

/* if viewport width < 50rem */
@media screen and (max-width: 50rem) {
    div.panel.left {
        /* left panel stops at left edge */
        grid-column-end: left;
    }

    /*
    div.panel.right {
        /\* right panel starts at right edge *\/
        grid-column-start: right;
    }
    */

    div.panel {
        /* neither panel is displayed */
        display: none;
    }

    div.mainbody {
        /* mainbody starts at left edge */
        grid-column-start: left;
        /* mainbody ends at right edge */
        grid-column-end: right;
    }
}
